* {
  box-sizing: border-box;  
}

body {
  top: 0;
  margin: 0;

  background: #10111b;
  background-image: url("../static/dark.png");
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 16px;
  font-family: "Inter", monospace; /* change your font here */
  color: #fff;

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;

  transition: all .2s linear;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  width: 75%;
}

main {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 200px 200px;
  row-gap: 20px;
  column-gap: 30px;
}

.full-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: inherit;
  height: inherit;
  flex-direction: column;
  gap: 50px;
}

.button {
  flex-direction: column;

  width: 200px;
  height: 200px;

  border-radius: 30px;
  background: #00000050;
  gap: 10px;

  transition: background .4s ease-out, transform .8s ease-out;
}

.button:hover {
  background: #000000aa;
  transform: translateY(-5px);
}

.button:active {
  transform: translateY(-2px);
}

.gitea {
  width: 40px;
  height: 40px;
}
